ul {
    list-style: none;
}

ul li {
    display: inline-block;
    width: 30px;
    padding: 12px;
    margin: 1px;
    opacity: 0.81;
    text-align: center;
    border: 1px solid rgb(102, 112, 122);
    font-size: 1.1rem;
    font-weight: bold;
}

